@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@300;400&display=swap');

/* font families
    font-family: 'Major Mono Display', monospace;
    font-family: 'Roboto', sans-serif;
*/

body {
    font-family: 'Roboto', sans-serif;    

    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Navagation bar */
.nav-container{
    background: #FFFFFF;
    height: 125x;
    width: auto;
    margin: 0 auto;
    padding-top: 25px;
    z-index: 1;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

nav ul{
    display: flex;
}

.banner {
    font-family: 'Major Mono Display', monospace;
    color: rgba(20, 19, 94, 1);
    font-size: 50px;
}

.nav-items li{
    list-style: none;
    margin-right: 30px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.button {
    background-color: #AE69F2;
    border-radius: 5px;
    padding: 10px;
}

/* Main section */
main {
   text-align: center;
    align-content: center;
}

.text-container {
    color: #FFFFFF;
    padding: 100x;
}

h1 {
    font-size: 50px;
    color: #FFFFFF;
}

h2 {
    font-size: 35px;
    font-weight: 300;
}

img {
    object-fit: contain;
}

/* Background */
.astronaut {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}